.App {
  background: gray;
  height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background: darkgray;
  display: flex;
  border: 1px solid black;
}
.container-content {
  width: 100%;
}


